extends layout

block content
    div.container
        div.row
            div.col-md-6
                p #{page_title}
        div.row
            div.col-md-6
                form.form
                    div.form-group
                        label(for="questionInput") вопрос
                        input(id='questionInput' value='#{record.question}')
                    div.form-group
                        label(for="solutionInput") решение
                        input(id='solutionInput' value='#{record.solution}')