extends layout

block content
    div.container
        div.row
            div.col-md-6
                p #{page_title}
        div.row
            div.col-md-6
                form.form
                    div.form-group
                        label(for="questionInput") вопрос
                        input.form-control(id='questionInput', type='text', name='question', value='#{record.question}')
                    div.form-group
                        label(for="solutionInput") решение
                        input.form-control(id='solutionInput', type='text', name='solution', value='#{record.solution}')
                    button.btn.btn-default(id='save', type='button') сохранить